annotated-types==0.6.0
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.4
pydantic==2.5.1
pydantic_core==2.14.3
requests==2.31.0
typing_extensions==4.8.0
urllib3==2.1.0
console-menu==0.8.0
elasticsearch==8.11.0
alive-progress==3.1.5
pyfiglet==1.0.2
termcolor==2.3.0
rich==13.6.0
